%h2 Albums

%h3 List all

%h4 GET /albums.xml

%p Lists the albums in your account

%h5 Response
%pre
  %code
    :preserve
      &lt;albums type=&quot;array&quot;&gt;
        &lt;album&gt;
          &lt;approved-at type=&quot;datetime&quot;&gt;2010-07-13T16:40:44Z&lt;/approved-at&gt;
          &lt;archived type=&quot;boolean&quot;&gt;false&lt;/archived&gt;
          &lt;created-on type=&quot;date&quot;&gt;2010-02-12&lt;/created-on&gt;
          &lt;default&gt;book&lt;/default&gt;
          &lt;designer-id type=&quot;integer&quot; nil=&quot;true&quot;&gt;&lt;/designer-id&gt;

          &lt;email&gt;&lt;/email&gt;
          &lt;embed type=&quot;boolean&quot;&gt;true&lt;/embed&gt;
          &lt;height type=&quot;integer&quot;&gt;393&lt;/height&gt;
          &lt;id type=&quot;integer&quot;&gt;6562&lt;/id&gt;
          &lt;name&gt;another&lt;/name&gt;
          &lt;password&gt;another&lt;/password&gt;

          &lt;permalink&gt;another&lt;/permalink&gt;
          &lt;print-status nil=&quot;true&quot;&gt;&lt;/print-status&gt;
          &lt;push-status nil=&quot;true&quot;&gt;&lt;/push-status&gt;
          &lt;shadow type=&quot;boolean&quot;&gt;false&lt;/shadow&gt;
          &lt;share-comments type=&quot;boolean&quot;&gt;false&lt;/share-comments&gt;
          &lt;song-id type=&quot;integer&quot; nil=&quot;true&quot;&gt;&lt;/song-id&gt;
          &lt;user-id type=&quot;integer&quot;&gt;51&lt;/user-id&gt;

          &lt;viewed-at type=&quot;datetime&quot;&gt;2010-07-13T16:40:38&lt;/viewed-at&gt;
          &lt;width type=&quot;integer&quot;&gt;1000&lt;/width&gt;
        &lt;/album&gt;
      &lt;/albums&gt;
      
%h3 Create Album

%h4 POST /album.xml

%h5 XML request
%pre
  %code
    :preserve
      &lt;album&gt;
        &lt;name&gt;new&lt;/name&gt;
        &lt;password&gt;new&lt;/password&gt;
        &lt;default&gt;book&lt;/default&gt;
        &lt;shadow type=&quot;boolean&quot;&gt;true&lt;/shadow&gt;
        &lt;song-id type=&quot;integer&quot;&gt;176&lt;/song-id&gt;
      &lt;/album&gt;
      
%h5 Response
%pre
  %code
    Status: 201 Created