%h2 Introduction
%p The AlbumExposure API is implemented as vanilla XML over HTTPS.  Send the Content-Type: application/xml header to identify XML requests.    
    
%h3 Making requests

%p When you're using the API, it's always through an existing AlbumExposure user. AlbumExposure users HTTP Basic Authentication over HTTPS.

%p Be sure to set both the 'Content-Type' and 'Accept' headers to 'application/xml' to identify the request and response format. Example with Curl:

%pre
  %code
    :escaped
      curl -H 'Accept: application/xml' -H 'Content-Type: application/xml' \
        -u username:password \
      https://albumexposure.com/albums.xml

%h3 Responses

%p If a request succeeds, it will return a status code in the 200 range and often, an XML-formatted response. Note that, in general, if a request causes a new record to be created (like a new album, or spread, etc.), the response will use the "201 Created" status. Any other successful operation (like a successful query, delete, or update) will return a 200 status code.

%p If a request fails, a non-200 status code will be returned, possibly with error information in XML format as the response's content. For instance, if a requested record could not be found, the HTTP response might look something like:

%pre
  %code
    :escaped
      HTTP/1.1 404 The record could not be found
      Date: Thu, 16 Mar 2006 17:41:40 GMT
      ...

%h3 Conventions used in this documentation

%p 
  %b\#{text}
  Indicates text that should be replaced by your own data

%p 
  %b ...
  Indicates content from the response has been elided for brevity in documentation.