%h2 Songs

%h3 List all

%p Lists all the songs that belong to this user

%h4 GET /songs.xml

%h5 Response

%pre
  %code
    :preserve
      &lt;songs type=&quot;array&quot;&gt;
        &lt;song&gt;
          &lt;artist&gt;Five Iron Frenzy&lt;/artist&gt;
          &lt;id type=&quot;integer&quot;&gt;435&lt;/id&gt;
          &lt;song-file-name&gt;06_Shut_Up.mp3&lt;/song-file-name&gt;
          &lt;title&gt;Shut Up&lt;/title&gt;
          &lt;user-id type=&quot;integer&quot;&gt;51&lt;/user-id&gt;
        &lt;/song&gt;
      &lt;/songs&gt;

%h3 List free

%p Lists all royalty-free songs available to the user

%h4 GET /songs/free.xml

%h5 Response

%pre
  %code
    :preserve
      &lt;songs type=&quot;array&quot;&gt;
        &lt;song&gt;
          &lt;artist&gt;Molly Jenson&lt;/artist&gt;
          &lt;id type=&quot;integer&quot;&gt;9&lt;/id&gt;
          &lt;song-file-name&gt;GiveItTime.mp3&lt;/song-file-name&gt;
          &lt;title&gt;Give It Time&lt;/title&gt;
          &lt;user-id type=&quot;integer&quot;&gt;0&lt;/user-id&gt;
        &lt;/song&gt;
      &lt;/songs&gt;
      
- # TODO: Create available but undocumented

