%h2 Account

%h3 SHOW

%h4 GET /api/account

%p Returns information about the current account.

%h5 Response

.tabs
  %ul
    %li= link_to "JSON response", "#show-json"

  #show-json
    %pre
      %code
        :preserve
          {
            "first_name": "Joe",
            last_name: "Moody",
            login: "joeuser",
            email: "joe@example.com",
            second_email: "",
            third_email: "",
            company_name: "Joe User Photography",
            address: "123 AnyStreet",
            city: "AnyCity",
            state: "CA",
            zip: "12345",
            country: "United States"
            bill_type: "yearly",
            card: "XXXX-XXXX-XXXX-1111",
            card_exp: "2012/06/01 00:59:59 +0100",
            card_type: "visa",
            color: "#FFFFFF",
            created_at: "2007/09/10 11:02:57 +0100",
            email_text: "The first draft of your album is ready for your review and comment. To access this album please use the link and password below:
            {masked_url}
            Password: {password}

            You can review the album multiple times. If you aren&#x27;t quite ready to send your comments just save them for later. When you submit your comments my team will be notified and we&#x27;ll make the changes that you&#x27;ve requested.

            Let me know if you have any questions. Enjoy!",
            language: "",
            logo_file_name: null,
            logo_position: "left",
            masked_url: "yourelevation.com/albums",
            newsletter: true,
            next_bill_date: "3000/01/01",
            paypal_email: "joe@example.com",
            presentation_term: "pages",
            status: "current",
            time_zone: "Lisbon",
            twitter_name: null,
            url: null
          }

%h3 Create Account

%h4 POST /api/account

%p Create an AlbumExposure account. Required fields are:

%ul
  %li First name
  %li Last name
  %li Company name
  %li Email
  %li Login
  %li Password
  %li Password confirmation
  %li Acceptance of AE privacy policy and terms of service

.tabs
  %ul
    %li= link_to "JSON request", "#create-json"

  #create-json
    %pre
      %code
        :preserve
          {
            first_name: "Joe",
            last_name: "User",
            company_name: "Joe User Photography",
            email: "joe@example.com",
            login: "joeuser",
            password: "mypassword",
            password_confirmation: "mypassword",
            terms: "true",
            newsletter: "true"
          }

%h5 Response
%pre
  %code
    Status: 201 Created
