%h2 Comments

%p * All comment operations apply to an album

%h3 List all

%h4 GET /api/albums/1/comments

%h5 Response

.tabs
  %ul
    %li= link_to "JSON response", "#comments-json"
    %li= link_to "JSON Legacy response", "#comments-legacy-json"

  #comments-json
    %pre
      %code
        :preserve
          [
            {
              "album_id": "1",
              "created_at": "2011-03-03 17:11:36 -0800",
              "comments":
              {
                "741798": [
                  {
                    "text": "first!"
                  }
                ],
                "741800": [
                  {
                    "text": "second!",
                    "position": [
                      0.3918918918918919,
                      0.4201474201474201
                    ]
                  },
                  {
                    "text": "third"
                  }
                ],
                "741797": [
                  {
                    "text": "fourth",
                    "position": [
                      0.18427518427518427,
                      0.3316953316953317
                    ]
                  }
                ]
              }
            }
            ...
          ]

  #comments-legacy-json
    %pre
      %code
        :preserve
          [
            {
              "album_id": "1",
              "created_at": "2011-03-03 17:11:36 -0800",
              "comments":
              {
                "741798":"first!",
                741800":"second!",
                "741797":"third!"
              }
            }
            ...
          ]

%h3 List all unanswered
%p
  Lists all comments from the client which the photographer has not answered.
  Also referred to the 'new' comments.

%h4 GET /api/albums/1/comments/unanswered

%h5 Response
%pre
  %code
    Status: 200 OK
%br

%h3 List all comments from the designer
%p (If the photographer is working with a DSE designer.)

%h4 GET /api/albums/1/comments/designer

%h5 Response
%pre
  %code
    Status: 200 OK
%br
