%h2 Songs

%br

%h3 Get songs

%p Lists all the songs that belong to this user

%h4 GET /api/songs

%h5 Response

.tabs
  %ul
    %li= link_to "JSON response", "#index-json"

  #index-json
    %pre
      %code
        :preserve
          [
            {
              "id": 123,
              "title": "Shut Up",
              "song_file_size": 192968,
              "song_file_name": "06 Shut Up.mp3",
              "url": "http://assets.albumexposure.com/song/file/2317/06%20Shut%20Up.mp3",
              "artist": "Five Iron Frenzy"
            }
            ...
          ]

%h3 Get free songs

%p Lists all royalty-free songs available to the user

%h4 GET /api/songs/free

%h5 Response

.tabs
  %ul
    %li= link_to "JSON response", "#free-json"

  #free-json
    %pre
      %code
        :preserve
          [
            {
              "id": 123,
              "artist": "Molly Jenson",
              "title": "Give It Time",
              "song_file_name": "GiveItTime.mp3",
              "url": "http://assets.albumexposure.com/song/file/9/GiveItTime.mp3"
            }
            ...
          ]

- # TODO: Create available but undocumented
